/* content.css */
.content-wrapper {
    margin-top: 20px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 5px;
}

.content-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.departments {
    width: 90%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
}

.tt-brand .tt-toggle-sidebar{
    position: absolute;
    display: flex;
    align-items: center;
    flex: 0 1 auto;
    left: 15rem;
    border-radius: 50%;
    cursor: pointer;
    background: #4eb529;
    color: #fff;
}

/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/
#logo {
    width: 60px;
}

.menu_icon {
    width: 35px;
    height: 31px;
    background-size: cover;
    display: inline-block;
}

.header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
}

.header-nav>ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-nav .nav-profile {
    color: #012970;
}

.header-nav .nav-profile img {
    max-height: 36px;
}

.header-nav .nav-profile span {
    font-size: 14px;
    font-weight: 600;
}

.header-nav .profile .dropdown-header h6 {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 600;
    color: #444444;
}

.header-nav .profile .dropdown-header span {
    font-size: 14px;
}

.header-nav .profile .dropdown-item {
    font-size: 14px;
    padding: 10px 15px;
    transition: 0.3s;
}

.header-nav .profile .dropdown-item i {
    margin-right: 10px;
    font-size: 18px;
    line-height: 0;
}

.header-nav .profile .dropdown-item:hover {
    background-color: #f6f9ff;
}

/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/
.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    width: 300px;
    z-index: 996;
    transition: all 0.3s;
    padding: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #aab7cf transparent;
    box-shadow: 0 0 1px 1px var(--bs-border-color-translucent) !important;
    background: white;
}

.sidebar.show {
    width: 250px;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: #aab7cf;
}

.sidebar-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav li {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-nav .nav-item {
    margin-bottom: 5px;
}

.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: #637381;
    transition: 0.3;
    padding: 10px 15px;
    border-radius: 4px;
}

.active {
    background-color: #cbdce5;
    color: var(--blue) !important;
}